body {
    background-color: blueviolet;
}

.wavepath {
    background-color: #0dcaca;
    margin-top: 50px;
}

h1 {
    font-size: 45px;
    margin-left: 20vh;
    margin-top: 70px;
}

h2 {
    margin-left: 20vh;
}

.hobby-container {
    background-color: #0dcaca;
    margin-top: -5px;
    height: 450px;
    display: flex;
}

.hobbys {
    font-size: 40px;
    margin-top: 0;
    padding-top: 35px;
}

.foto {
    margin-left: 550px;
    border-radius: 10%;
    height: 400px;
    width: 450px;
    margin-top: 2vh;
}