.hero_effect {
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: 0 0 10rem -5rem;
    overflow: hidden;
}

.card_grid {
    position: absolute;
    z-index: 0;
    inset: 0;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.card_grid_effect {
    position: relative;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    background: transparent;
}

.card_grid_effect::before {
    content: "";
    height: 0.3rem;
    width: 0.3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 500ms linear all;
    border-radius: 50%;
    color: rgba(23, 131, 226, 0.551);
    position: absolute;
    box-shadow: 0 0 0, 3rem 0 0 -0.3rem, -3rem 0 0 -0.3rem, 0 -3rem 0 -0.3rem, 0 3rem 0 -0.3rem, 3rem 3rem 0 -0.45rem, 3rem -3rem 0 -0.45rem, -3rem 3rem 0 -0.45rem, -3rem -3rem 0 -0.45rem, 3rem 6rem 0 -0.9rem, 3rem -6rem 0 -0.9rem, -3rem 6rem 0 -0.9rem, -3rem -6rem 0 -0.9rem, 3rem 9rem 0 -1.35rem, 3rem -9rem 0 -1.35rem, -3rem 9rem 0 -1.35rem, -3rem -9rem 0 -1.35rem, 3rem 12rem 0 -1.8rem, 3rem -12rem 0 -1.8rem, -3rem 12rem 0 -1.8rem, -3rem -12rem 0 -1.8rem, 6rem 0 0 -0.6rem, -6rem 0 0 -0.6rem, 0 -6rem 0 -0.6rem, 0 6rem 0 -0.6rem, 6rem 3rem 0 -0.9rem, 6rem -3rem 0 -0.9rem, -6rem 3rem 0 -0.9rem, -6rem -3rem 0 -0.9rem, 6rem 6rem 0 -1.8rem, 6rem -6rem 0 -1.8rem, -6rem 6rem 0 -1.8rem, -6rem -6rem 0 -1.8rem, 6rem 9rem 0 -2.7rem, 6rem -9rem 0 -2.7rem, -6rem 9rem 0 -2.7rem, -6rem -9rem 0 -2.7rem, 6rem 12rem 0 -3.6rem, 6rem -12rem 0 -3.6rem, -6rem 12rem 0 -3.6rem, -6rem -12rem 0 -3.6rem, 9rem 0 0 -0.9rem, -9rem 0 0 -0.9rem, 0 -9rem 0 -0.9rem, 0 9rem 0 -0.9rem, 9rem 3rem 0 -1.35rem, 9rem -3rem 0 -1.35rem, -9rem 3rem 0 -1.35rem, -9rem -3rem 0 -1.35rem, 9rem 6rem 0 -2.7rem, 9rem -6rem 0 -2.7rem, -9rem 6rem 0 -2.7rem, -9rem -6rem 0 -2.7rem, 9rem 9rem 0 -4.05rem, 9rem -9rem 0 -4.05rem, -9rem 9rem 0 -4.05rem, -9rem -9rem 0 -4.05rem, 9rem 12rem 0 -5.4rem, 9rem -12rem 0 -5.4rem, -9rem 12rem 0 -5.4rem, -9rem -12rem 0 -5.4rem, 12rem 0 0 -1.2rem, -12rem 0 0 -1.2rem, 0 -12rem 0 -1.2rem, 0 12rem 0 -1.2rem, 12rem 3rem 0 -1.8rem, 12rem -3rem 0 -1.8rem, -12rem 3rem 0 -1.8rem, -12rem -3rem 0 -1.8rem, 12rem 6rem 0 -3.6rem, 12rem -6rem 0 -3.6rem, -12rem 6rem 0 -3.6rem, -12rem -6rem 0 -3.6rem, 12rem 9rem 0 -5.4rem, 12rem -9rem 0 -5.4rem, -12rem 9rem 0 -5.4rem, -12rem -9rem 0 -5.4rem, 12rem 12rem 0 -7.2rem, 12rem -12rem 0 -7.2rem, -12rem 12rem 0 -7.2rem, -12rem -12rem 0 -7.2rem;
}

.card_grid_effect:hover::before {
    background: rgba(23, 131, 226, 0.551);
    height: 3rem;
    width: 3rem;
    transition: 100ms linear all;
    /* box-shadow: 0 0 0, 3rem 0 0 -0.3rem, -3rem 0 0 -0.3rem, 0 -3rem 0 -0.3rem, 0 3rem 0 -0.3rem, 3rem 3rem 0 -0.45rem, 3rem -3rem 0 -0.45rem, -3rem 3rem 0 -0.45rem, -3rem -3rem 0 -0.45rem, 3rem 6rem 0 -0.9rem, 3rem -6rem 0 -0.9rem, -3rem 6rem 0 -0.9rem, -3rem -6rem 0 -0.9rem, 3rem 9rem 0 -1.35rem, 3rem -9rem 0 -1.35rem, -3rem 9rem 0 -1.35rem, -3rem -9rem 0 -1.35rem, 3rem 12rem 0 -1.8rem, 3rem -12rem 0 -1.8rem, -3rem 12rem 0 -1.8rem, -3rem -12rem 0 -1.8rem, 6rem 0 0 -0.6rem, -6rem 0 0 -0.6rem, 0 -6rem 0 -0.6rem, 0 6rem 0 -0.6rem, 6rem 3rem 0 -0.9rem, 6rem -3rem 0 -0.9rem, -6rem 3rem 0 -0.9rem, -6rem -3rem 0 -0.9rem, 6rem 6rem 0 -1.8rem, 6rem -6rem 0 -1.8rem, -6rem 6rem 0 -1.8rem, -6rem -6rem 0 -1.8rem, 6rem 9rem 0 -2.7rem, 6rem -9rem 0 -2.7rem, -6rem 9rem 0 -2.7rem, -6rem -9rem 0 -2.7rem, 6rem 12rem 0 -3.6rem, 6rem -12rem 0 -3.6rem, -6rem 12rem 0 -3.6rem, -6rem -12rem 0 -3.6rem, 9rem 0 0 -0.9rem, -9rem 0 0 -0.9rem, 0 -9rem 0 -0.9rem, 0 9rem 0 -0.9rem, 9rem 3rem 0 -1.35rem, 9rem -3rem 0 -1.35rem, -9rem 3rem 0 -1.35rem, -9rem -3rem 0 -1.35rem, 9rem 6rem 0 -2.7rem, 9rem -6rem 0 -2.7rem, -9rem 6rem 0 -2.7rem, -9rem -6rem 0 -2.7rem, 9rem 9rem 0 -4.05rem, 9rem -9rem 0 -4.05rem, -9rem 9rem 0 -4.05rem, -9rem -9rem 0 -4.05rem, 9rem 12rem 0 -5.4rem, 9rem -12rem 0 -5.4rem, -9rem 12rem 0 -5.4rem, -9rem -12rem 0 -5.4rem, 12rem 0 0 -1.2rem, -12rem 0 0 -1.2rem, 0 -12rem 0 -1.2rem, 0 12rem 0 -1.2rem, 12rem 3rem 0 -1.8rem, 12rem -3rem 0 -1.8rem, -12rem 3rem 0 -1.8rem, -12rem -3rem 0 -1.8rem, 12rem 6rem 0 -3.6rem, 12rem -6rem 0 -3.6rem, -12rem 6rem 0 -3.6rem, -12rem -6rem 0 -3.6rem, 12rem 9rem 0 -5.4rem, 12rem -9rem 0 -5.4rem, -12rem 9rem 0 -5.4rem, -12rem -9rem 0 -5.4rem, 12rem 12rem 0 -7.2rem, 12rem -12rem 0 -7.2rem, -12rem 12rem 0 -7.2rem, -12rem -12rem 0 -7.2rem; */
}
